.about-me {
  /* background-color: rgba(216, 224, 234, 0.4); */
  background-color: #95b8d1;
  color: #444;
  /* text-shadow: 1px 1px #444; */
  padding: 1rem 0 0;
  margin: 0;
}

.section-title {
  text-align: center;
  padding: 1.3rem;
  margin: 0;
}

.about-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: #b8e0d4;
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  z-index: 2;
  border: 2px solid white;
}

.profile-pic {
  width: auto;
  height: 100%;
  max-height: 400px;
  padding: 5px;
  border: 4px dashed white;
  border-radius: 50%;
}

.profile {
  margin-top: 20px;
  background-color: #95b8d1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.biography {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}

.biography h2 {
  font-size: 200%;
  margin-bottom: 5px;
}

/* h2{
    color: white;
} */

h2,
h3,
h4,
p {
  margin: 5px;
}

.bio-section h2 {
  text-shadow: 1.3px 1.3px white;
}

.bio-section {
  margin: 0px 15px 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px #eac4d5;
}

/* .bio-section{
  
} */

.biography div:first-child {
  background-color: #b8e0d4;
}

.biography div:nth-child(2) {
  background-color: #d6eadf;
}

.biography div:nth-child(3) {
  /* background-color: #eac4d5; */
  background-color: #b8e0d4;
}
