.about-me {
  /* background-color: rgba(216, 224, 234, 0.4); */
  background-color: #95b8d1;
  color: #444;
  /* text-shadow: 1px 1px #444; */
  padding: 1rem 0 0;
  margin: 0;
}

.section-title {
  text-align: center;
  padding: 1.3rem;
  margin: 0;
}

.about-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: #b8e0d4;
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  z-index: 2;
  border: 2px solid white;
}

.profile-pic {
  width: auto;
  height: 100%;
  max-height: 250px;
  padding: 5px;
  border: 4px dashed white;
  border-radius: 50%;
}

.profile {
  margin-top: 20px;
  background-color: #95b8d1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.pics-and-socials, .biography{
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.pics-and-socials{
  justify-content: center;
}

.biography{
  justify-content: space-evenly;
  height: 43vh;
}

.social-media-container{
  display: inline-block;
  margin-left: 50px;
}

.social-links{
  border-radius: 10px;
  list-style: none;
  background-color: white;
  padding: 7px 0;
  position: relative;
}

.social-links li{
  margin: 10px 0;
  padding: 5px 0px;
  text-align: center;
  font-size: 1.2em;
  color: #444;
  position: relative;
  z-index: 2;
}

.social-links li a{
  padding: 0px 15px;
}

.basic-info, .summary{
  display: inline-block;
  padding: 10px;
  width: 45%;
  height: 100%;
}

h2,
h3,
h4,
p {
  margin: 5px;
}

.bio-section h2 {
  text-shadow: 1.5px 1.5px white;
}

.bio-section {
  background-color: #b8e0d4;
  /* margin: 0px 15px 20px; */
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px #eac4d5;
}

#summary-section{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#summary-section h2, #summary-section p{
  /* line-height: 1.7rem; */
  width: 100%;
}

/* social links hover animations */
.social-links li a {
  text-decoration: none;
  color: #444;
  z-index: 1;
}

.social-links li a:hover {
  border-bottom: 0px;
  color: white;
}

.social-links li a:hover:after{
  width: 100%;
}

.social-links li a:after {
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

.social-links li:first-child{
  border-right: 10px solid #809bce;
}
.social-links li:nth-child(2){
  border-right: 10px solid #b8e0d4;
}
.social-links li:nth-child(3){
  border-right: 10px solid#d6eadf;
}
.social-links li:nth-child(4){
  border-right: 10px solid #eac4d5;
}


.social-links li:first-child a:after {
  background: #809bce;
}
.social-links li:nth-child(2) a:after {
  background: #b8e0d4;
}
.social-links li:nth-child(3) a:after {
  background: #d6eadf;
}
.social-links li:nth-child(4) a:after {
  background: #eac4d5;
}



/* MEDIA QUERIES */
@media screen and (max-width: 899px){
  .about-me{
    height: 110vh;
  }

  .biography{
    height: 60%;
  }
}