hr {
  color: white;
  width: 100%;
  /* padding: 5px 0; */
  border-top: 3px dashed white;
  border-bottom: none;
}

.content-text {
  background-color: #b8e0d4;
  text-transform: uppercase;
  color: #fff;
  padding: 1.3rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  z-index: 2;
  border: 2px solid white;
}
