footer {
  background-color: #809bce;
  color: white;
  width: 100%;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
}

footer a {
  color: #444;
  margin-right: 20px;
  padding: 10px;
}

/* footer a:hover{
    color: #b8e0d4;
} */

.footer-icon {
  border: 2px solid #444;
  padding: 10px;
  font-size: 2rem;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.footer-icon:hover {
  color: white;
  border-color: white;
  background: #95b8d1;
  animation: colorPopBlue 0.25s;
}
