footer{
    background-color: #95b8d1;
    color: white;
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

footer a{
    color: white;
    margin-right: 20px;
}

footer a:hover{
    color: #d6eadf;
}