.experience-section{
    height: 70vh;
    margin: 50px auto;
}

.exp-heading{
    margin: 5px auto;
    text-align: center;
}

.experience-div{
    margin: 50px auto;
    padding: 5px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.266);
}

.experience-title{
    text-align: center;
    margin: 30px 0;
}

.experience-card{
    width: 90%;
    height: auto;
    background-color: #d6eadf;
    margin: 15px auto;
    padding: 5px;
    font-size: 1em;
    box-shadow: 7px -7px #eac4d5;
}

.work-dates{
    color: grey;
    margin-left: 50px;
    font-style: italic;
    font-weight: 400;
}

.experience-content{
    flex-direction: column;
}

/* ANIMATIONS */
@keyframes colorPopPink {
    from {
      color: #444;
      border-color: #444;
      background: none;
    }
    to {
      background: #eac4d5;
      color: white;
      border-color: white;
    }
  }

/* 
@media screen and (max-width: 768px) {
    
} */